@import 'bootstrap';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';
@import 'ember-power-select';

$page-width: 1064px;
$border-color: $gray-lighter;

.ember-power-select-trigger {
  line-height: 31px;
}

h5 {
  font-size: $font-size-h4;
}

h6 {
  font-weight: bold;
  font-size: $font-size-base;
}

.nav-container {
  @extend .container;

  width: $page-width;
}

main {
  @extend .container;

  width: $page-width;
}

footer.main-footer {
  @extend .container;

  width: $page-width;
  color: $text-muted;
  text-align: center;
  border-top: 1px solid $border-color;
  margin-top: 20px;
  padding: 20px;
  min-height: 100px;
}

.loading-spinner-container {
  position: relative;
  height: 300px;
  width: 100%;
}

.liquid-container, .liquid-child {
  overflow: visible;
}

.navbar-nav > li > a.active {
  &,
  &:hover,
  &:focus {
    color: $navbar-default-link-active-color;
    background-color: $navbar-default-link-active-bg;
  }
}

.nav-tabs > li > a.active {
  &,
  &:hover,
  &:focus {
    color: $nav-tabs-active-link-hover-color;
    background-color: $nav-tabs-active-link-hover-bg;
    border: 1px solid $nav-tabs-active-link-hover-border-color;
    border-bottom-color: transparent;
    cursor: default;
  }
}

.logout-link {
  cursor: pointer;
}

.projects-table {
  .project-link {
    font-weight: bold;
  }

  .project-description {
    color: $text-muted;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.project-rules-table {
  table-layout: fixed;

  .rule-column {
    width: 60%
  }

  .source-column {
    width: 25%;
  }

  .actions-column {
    width: 15%;
  }

  .rule-link {
    font-weight: bold;
  }
}

.project-data-elements-table {
  table-layout: fixed;

  .data-element {
    width: 85%;
  }

  .actions-column {
    width: 15%;
  }

  .data-element-link {
    font-weight: bold;
  }
}

.page-header {
  margin: 0 0 20px;
  padding: 10px 5px;
  border-bottom: 1px solid $border-color;

  h1, h2 {
    display: inline-block;
    margin-top: 0;
  }

  .page-nav-links {
    display: block;
    font-size: 12pt;
    float: right;
    white-space: nowrap;
    padding: 10px 0;
  }
}

.page-footer {
  padding: 20px 0 0;
  margin-top: 20px;
  border-top: 1px solid $border-color;
}

.project-show-header {
  border: 0;
  padding: 10px 5px 0;
}

.user-projects {
  header {
    border-bottom: 1px solid $border-color;

    h2 {
      display: inline-block;
      font-size: 18pt;
    }

    .create-project-link {
      margin: 10px 0;
    }
  }
}

.auth-form {
  max-width: 600px;

  .auth-error {
    font-weight: bold;
    color: $brand-danger;
    text-align: center;
  }
}

.project-description {
  color: $text-muted;
}

.project-nav, .rule-nav {
  margin-bottom: 10px;
}

.steps {
  list-style: none;
  overflow: hidden;
  color: #aaa;
  font-size: $font-size-base * 1.2;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  background: #fafafa;
  padding: 0;
  margin-bottom: 20px;
}

.steps li {
  float: left;
  line-height: 60px;
}

.steps li a {
  color: $link-color;
  text-decoration: none;
  padding: 0 10px 0 40px;
  display: block;
  float: left;
  background: #fafafa;

  &:hover {
    color: $link-hover-color;
  }
}

.steps li a::after {
  position: relative;
  display: block;
  margin-top: -30px;
  margin-left: auto;
  margin-right: -25px;
  height: 30px;
  width: 30px;
  content: " ";
  -webkit-transform: skew(-40deg);
  background: #fafafa;
  border-right: 1px solid #d6d6d6;
  -moz-transform: skew(-40deg);
  -o-transform: skew(-40deg);
  transform: skew(-40deg);
}

.steps li a::before {
  float: right;
  display: block;
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: -25px;
  height: 30px;
  width: 30px;
  content: " ";
  -webkit-transform: skew(40deg);
  background: #fafafa;
  border-right: 1px solid #d6d6d6;
  -moz-transform: skew(40deg);
  -o-transform: skew(40deg);
  transform: skew(40deg);
}

.steps li:first-child a {
  padding-left: 20px;
}

.steps li a.active {
  color: $gray-dark;
  background: white;

  &::before, &::after {
    background: white;
  }
}

.highlight {
  color: green;
}

.phrase-column{
  &.valid-phrase {
    color: green;
  }

  &.invalid-phrase {
    color: red;
  }
}

.phrase-table-section {
  padding: 15px 0;
}

.statement-list {
  .row, .form-group {
    margin-bottom: 15px;
  }
}

.panel-list {
  list-style: none;
  padding-left: 0;

  > li {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left-width: 5px;
    border-left-style: double;
  }
}

.statement-list, .conflict-list, .relationship-list {
  label {
    text-align: right;
    line-height: 34px;
    margin-bottom: 0;
  }
}

.highlight-field {
  padding: 7px 12px 6px;
  border-radius: 4px;
  border: 1px solid $pre-border-color;
  background-color: $pre-bg;
  color: $pre-color;
  min-height: 34px;
  width: 100%;
}

#new_phrase_text {
  width: 500px;
}

.conflict-panel .conflicting-rule-link, .relationship-panel .related-rule-link {
  line-height: 35px;
  font-weight: bold;
}

.select-option-description {
  display: block;
  font-size: $font-size-small;
  color: $text-muted;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.lerm-step-4a .phrase-table{
  .original-text-column {
    width: 35%;
  }

  .cleaned-text-column {
    width: 45%;
  }

  .discard-controls-column {
    width: 20%;
  }

  .discarded td:not(.discard-controls-column) {
    opacity: 0.5;
  }
}

.sub-label {
  line-height: 35px;
  text-align: right;
}

.statement-list .discarded .form-group:not(.form-actions) {
  opacity: 0.5;
}

.statement-panel .not-cleaned-placeholder {
  line-height: 35px;
  color: $text-muted;
}

.phrase-panel .data-element-field {
  width: 500px;
}

.phrase-panel .data-element-linking-form {
  margin-bottom: 10px;
}

.data-element-expression-form .form-group {
  margin-bottom: 0;
}

.linked-data-elements-section .create-data-element-link {
  &:hover {
    cursor: pointer;
  }
}

.phrase-reference-list {
  display: none;
}

.formalization-results .highlight-field .ember-view {
  display: inline;
}

.small-description {
  display: block;
  font-size: $font-size-small;
  color: $text-muted;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.relationships-section .data-element-table {
  table-layout: fixed;

  .data-element-column {
    width: 35%;
  }

  .data-element-rules-column {
    width: 65%;
  }
}

.formalization-status-section {
  margin-bottom: 15px;

  .label {
    margin-right: 5px;

    &.inactive {
      background-color: #aaa;
      cursor: pointer;
    }
  }
}

.formalization-status-label {
  display: inline-block;
}

.lerm-step-controls {
  margin: 20px 0 0;
  padding: 20px 0 0;
  border-top: 1px solid $border-color;

  .next-step-btn {
    float: right;
  }
}
