{{#if (can 'edit project' model.project)}}
  {{#link-to 'projects.show.data-elements.new' model.project class='btn btn-default add-data-element-link pull-right'}}
    {{fa-icon "plus"}} Add Data Element
  {{/link-to}}
{{/if}}

{{#if model.dataElements.length}}
  <table class="table table-striped project-data-elements-table">
    <thead>
    <tr>
      <th class="data-element-column">Data Element</th>
      <th class="actions-column"></th>
    </tr>
    </thead>

    <tbody>
    {{#each model.dataElements as |dataElement|}}
      <tr>
        <td>
          {{#link-to 'projects.show.data-elements.show' dataElement.project dataElement class='data-element-link'}}
            {{dataElement.label}}
          {{/link-to}}
          <span class="small-description">{{dataElement.description}}</span>
        </td>
        <td>
          {{#rl-dropdown-container class="dropdown"}}
            {{#rl-dropdown-toggle class="btn btn-default"}}
              Actions <span class="caret"></span>
            {{/rl-dropdown-toggle}}

            {{#rl-dropdown tagName="ul" class="dropdown-menu dropdown-menu-right" closeOnChildClick="a:link"}}
              <li>
                {{#link-to 'projects.show.data-elements.show' dataElement.project dataElement}}
                  View data element
                {{/link-to}}
              </li>

              {{#if (can 'edit data-element' dataElement)}}
                <li>
                  {{#link-to 'projects.show.data-elements.edit' dataElement.project dataElement}}
                    Edit data element
                  {{/link-to}}
                </li>
              {{/if}}
            {{/rl-dropdown}}
          {{/rl-dropdown-container}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
  <p class="text-muted">
    No data elements exist yet for this project.
    {{#link-to 'projects.show.data-elements.new' model.project}}Add a data element.{{/link-to}}
  </p>
{{/if}}
