<header>
  <h1>Create a new project</h1>
</header>

{{#em-form model=model class="new-project-form"}}
  {{em-input property="name" class="name-group" label="Name" placeholder="Enter a name..."}}
  {{em-text property="description" class="description-group" label="Description"
            placeholder="Optionally give a description.."}}
{{/em-form}}
