<header class="page-header">
  <h1>{{model.name}}</h1>

  <p class="project-description">
    {{model.description}}

    <nav class="page-nav-links">
      {{#if (can 'edit project' model)}}
        {{#link-to 'projects.edit' model class='btn btn-default project-edit-link'}}
          {{fa-icon "pencil"}} Edit project
        {{/link-to}}
      {{/if}}
    </nav>
  </p>
</header>
