{{#if rule.isUnfinished}}
  <span class="label label-info">Unfinished</span>
{{/if}}

{{#if rule.isUnimplementable}}
  <span class="label label-danger">Unimplementable</span>
{{/if}}

{{#if rule.isPartiallyImplemented}}
  <span class="label label-warning">Partially Implemented</span>
{{/if}}

{{#if rule.isFullyImplemented}}
  <span class="label label-success">Fully Implemented</span>
{{/if}}
