<nav class="navbar navbar-default">
  <div class="nav-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LERM Formalizer</a>
    </div>

    <ul class="nav navbar-nav">
    </ul>

    <ul class="nav navbar-nav navbar-right user-menu">
      {{#if session.isAuthenticated}}
        <li>{{#link-to 'current-user'}}{{currentUser.username}}{{/link-to}}</li>
        <li><a {{action 'invalidateSession'}} class="logout-link">Logout</a></li>
      {{else}}
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
      {{/if}}
    </ul>
  </div>
</nav>

<main>
  {{outlet}}
</main>

<footer class="main-footer">
  &copy; 2016
</footer>
