<nav class="navbar navbar-default">
  <div class="nav-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LERM Formalizer</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Link</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</nav>

<main>
  <h2>Welcome to Ember</h2>

  {{outlet}}
</main>

<footer class="main-footer">
  &copy; 2016
</footer>
