<nav class="navbar navbar-default">
  <div class="nav-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LERM Formalizer</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Link</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {{#if session.isAuthenticated}}
        <li>{{#link-to 'current-user'}}{{currentUser.username}}{{/link-to}}</li>
        <li><a {{action 'invalidateSession'}}>Logout</a></li>
      {{else}}
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
      {{/if}}
    </ul>
  </div>
</nav>

<main>
  {{outlet}}
</main>

<footer class="main-footer">
  &copy; 2016
</footer>
